/*
.col-xs-$	Extra Small	Phones Less than 768px
.col-sm-$	Small Devices	Tablets 768px and Up
.col-md-$	Medium Devices	Desktops 992px and Up
.col-lg-$	Large Devices	Large Desktops 1200px and Up


Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}



.left-container {
    padding-right: 0px;
}

.table > thead {
  background-color: #A5D4BC;
}

/* .table > tbody > tr:nth-of-type(odd) {
  background-color: #EDEDED;
} */

.table > tbody > tr {
  background-color: #FAFAFA;
}

.table-hover > tbody > tr:hover {
  background-color: #BBE1FF !important;
}

.stripe {
  background-color: #EDEDED !important;
}

.hidden {
    display:none;
}

td,th {
    /* to display new line in cell, aka preformatted text */
    white-space: pre;
    text-align: center;
    /* Using imporant so it overrides other stylings */
    vertical-align: middle !important;
    align-items:center;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }

  input {
       border-radius:4px;
  }

#myInput {
    background-image: url('used-items/search-icon-20px.png'); /* Add a search icon to input */
    background-position: 9px 9px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    height: 40px !important;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.panel.noshadow {
    box-shadow: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.checkbox {
    padding-left: 5px;
}

.panel-body.filters {
    padding: 2px;
}

.panel-heading {
    text-align: center;
}

.panel-footer {
    padding: 3px;
    text-align: center;
    margin: 0;
}
